# DataFrame
-------
#### DataFrame是一个[表格型]的数据结构。DataFrame由按一定顺序排列的多列数据组成。设计初衷是将Series的使用场景从一维拓展到多维。DataFrame既有行索引，也有列索引
 - 行索引：index
 - 列索引：columns
 - 值：values
#### DataFrame的创建
- ndarry创建
- 字典创建
#### DataFrame索引操作
- 对行进行索引
    - iloc:通过隐式索引取行
    - loc:通过显示索引取行
        - df.iloc[0] #取单行
          df.iloc[[0,1,2]] #取多行
- 对列进行索引
    - 直接使用df['列名']，多列 `df[['列名1','列名2']]`
- 对元素进行索引
    - df.iloc[0,2] #取单个元素 隐式索引
      df.loc[0,'c'] #取单个元素 显式索引
    - df.iloc[[1,3,5],2] #取多个元素 隐式索引
      df.loc[[1,3,5],'c'] #取多个元素 显式索引
#### DataFrame切片
- 对行切片
    - df[0:2]
- 对列切片
    - df.iloc[:,0:2]

In [3]:
import numpy as np
from pandas import DataFrame
df=DataFrame(data=[[1,2,3],[4,5,6]])
df

   0  1  2
0  1  2  3
1  4  5  6

In [4]:
df=DataFrame(data=(np.random.randint(0,100,size=(3,4))))
df

    0   1   2   3
0   2  14  75  52
1  48  99  79  12
2  79  52  35  66

In [12]:
dic={'name':['张三','李四','王二'],
     'age':[22,18,26]
     }
df = DataFrame(data=dic,index=['a','b','c'])
df

  name  age
a   张三   22
b   李四   18
c   王二   26

In [20]:
df.values   #值
df.columns  #列
df.index    #行
df.shape    #维度
df.size     #元素个数

6

In [21]:
dic = {
    "张三":[150,150,150,150],
    '李四':[0,0,0,0]
}
df=DataFrame(data=dic,index=['语文','数学','英语','理综'])
df

     张三  李四
语文  150   0
数学  150   0
英语  150   0
理综  150   0

##### 索引操作

In [23]:
df=DataFrame(data=(np.random.randint(0,100,size=(8,4))),columns=['a','b','c','d'])
df

    a   b   c   d
0  78  33  92  17
1  44   9  48  10
2   1  20  46  66
3  72  37  60  57
4  38  25  27  84
5  84  48  84  13
6  25  71  96  70
7  27  41  92  49

In [27]:
df['a'] #列索引，取单列，如果df有显示索引，通过索引机制取行或列的时候可以使用显示索引
df[['a','c']] #取多列

    a   c
0  78  92
1  44  48
2   1  46
3  72  60
4  38  27
5  84  84
6  25  96
7  27  92

In [33]:
df.iloc[0] #取单行
df.iloc[[0,1,2]] #取多行
df.iloc[0,2] #取单个元素 隐式索引
df.loc[0,'c'] #取单个元素 显式索引
df.iloc[[1,3,5],2] #取多个元素 隐式索引

1    48
3    60
5    84
Name: c, dtype: int32

In [42]:
dic = {
    "张三":[150,150,150,150],
    '李四':[0,0,0,0]
}
df=DataFrame(data=dic,index=['语文','数学','英语','理综'])
qizhong =df
qimo = df
(qizhong + qimo)/2 #期中期末的平均值
qizhong.loc['数学','张三']=0 #将张三数学成绩修改为0
qizhong
qizhong['李四'] +=100 #李四所有成绩+100
qizhong
qizhong +=10 #所有成绩+10
qizhong

     张三   李四
语文  160  110
数学   10  110
英语  160  110
理综  160  110

In [44]:
dic = {
    'time':['2020-10-10','2021-12-1','2022-11-20'],
    'temp':[20,5,15]
}
df = DataFrame(data=dic)
df

         time  temp
0  2020-10-10    20
1   2021-12-1     5
2  2022-11-20    15

In [46]:
df['time'].dtype
#将Time转换为时间类型
import pandas as pd
df['time'] = pd.to_datetime(df['time'])
df['time'].dtype

dtype('<M8[ns]')

In [49]:
#将time列作为行索引  inplace属性为替换原df
df.set_index('time',inplace=True)
df

            temp
time
2020-10-10    20
2021-12-01     5
2022-11-20    15